* {
    border: 2px solid coral;
}

.pageElements {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    

}

.content
.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navButtons {
    margin: 2em;
    display: flex;
    justify-content: space-between;

}

.title {
    margin: 1em;
    font-size: 36pt;
    color:grey;
    font-family: Arial, Helvetica, sans-serif;
}

.fishCollection {

}

.sectionHeader {
    color: green;

}

.fish{
    display: flex;
    background-color: grey;

}

.fishDetails {

}

.tipsList {
    
}

.tankTipsList{

}

.locationsSection {

}

.location {
    display: flex;
    flex-direction: row;

}

.locationImage {

}

.tankTipsList {

}