* {
    border: 2px solid coral;
}

.pageElements {

}

.navBar {
    display: flex;
    flex-direction: row;
}

.navButtons {

}

.title {

}

.fishCollection {

}

.section-header {

}

.fish{

}

.fishDetails {

}

.tipsList {
    
}